html, body {
  height: 100%;
}
body {
  background-color: #44d613;
  color: white;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin: 0;
}
a {
  color: #48fc0c;
}
p {
  font-family: Tahoma, Geneva, sans-serif;
}
main {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin: 1rem;
  padding: 1rem;
}
form {
  display: flex;
  flex-flow: column;
}
input {
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  margin: 0.2rem 0 0.5rem 0;
}
input[type=submit] {
  background: #44d613;
  color: white;
  cursor: pointer;
}
.code-wrapper {
  background: #313131;
  padding: 1rem;
}
footer {
  background: rgba(0, 0, 0, 0.2);
  padding: 1rem;
  text-align: center;
}

@media only screen and (min-width: 992px) {
  main {
    margin: 1rem 25%;
  }
}
