html, body {
  height: 100%;
}
body {
  background-color: #12a9e5;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin: 0;
}
p {
  font-family: Tahoma, Geneva, sans-serif;
}
.button-wrapper {
  text-align: center;
}
button {
  background: #12a9e5;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  color: white;
  font-size: 1rem;
  padding: 0.5rem;
}
main {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  color: white;
  margin: 1rem;
  padding: 1rem;
}
main > * {
  margin: 1.5rem 0;
}
.code-wrapper {
  background: #333;
  color: white;
  padding: 1rem;
}
footer {
  background: rgba(0, 0, 0, 0.2);
  padding: 1rem;
  text-align: center;
}

@media only screen and (min-width: 992px) {
  main {
    margin: 1rem 25%;
  }
}
