#drum-pad {
  background: rgba(0, 0, 0, 0.5);
  border: 4px solid #868686;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 1.5rem;
  padding: 2rem;
  margin: 1rem;
}
#drum-pad.activated {
  border-color: #1ed5ed;
}
